<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Estantería</li>
  </ol>
</nav>
<h2>Estanterías</h2>
<form #f="ngForm">
  
  <button mat-mini-fab color="primary" (click)="search()" [disabled]="!f?.valid"><mat-icon>search</mat-icon></button>
  <a mat-mini-fab color="accent" [routerLink]="['../estanterias', 'new' ]"><mat-icon>add</mat-icon></a>
</form>
<div *ngIf="estanteriaList.length > 0">
  <!-- todo: figure out better material styling for alerts -->
  <div *ngIf="feedback.message" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  
  <table mat-table #table [dataSource]="estanteriaList">
    
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.id}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="almacen">
      <mat-header-cell *matHeaderCellDef> Almacén </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.almacen?.cliente}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="tipo">
      <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.tipo}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let item">
        <a [routerLink]="['../estanterias', item.id ]" mat-raised-button color="primary">Editar</a>&nbsp;
        <button (click)="delete(item)" mat-button color="warn"><mat-icon>delete</mat-icon></button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
</div>
