<h2>ALMACENES</h2>
<table>
    <thead>
        <tr>
            <th>CLIENTE</th>
            <th>ALMACÉN</th>
            <th>TIPO</th>
            <th>TAMAÑO</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let almacen of almacenes">
            <td>{{almacen.cliente}}</td>
            <td>{{almacen.id}}</td>
            <td>{{almacen.tipo}}</td>
            <td>{{almacen.tamanio}}</td>
            <td>
                <a href="almacen-detalle/{{almacen.id}}">Detalle</a>&nbsp;&nbsp;
                <a href="almacen-form/{{almacen.id}}">Editar</a>&nbsp;&nbsp;
                <a>Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>