<h1>ALMACÉN</h1>
<form [formGroup]="almacenFormGroup" (ngSubmit)="onSubmit(almacenFormGroup.value)">
    <p>
        <label>Almacén</label>
        <input placeholder="Almacén" type="text"/>
    </p>
    <p>
        <label>Cliente</label>
        <input placeholder="Cliente" />
    </p>
    <p>
        <label>Tipo</label>
        <select>
            <option>EST</option>
            <option>ROB</option>
        </select>
    </p>
    <p>
        <label>Tamaño</label>
        <input placeholder="Tamaño" type="number"/>
    </p>
    <p>
        <input title="Pulsa para guardar los datos" type="submit" value="Guardar"/>
    </p>                
</form>

