<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Estantería</li>
  </ol>
</nav>
<h2>Estanteria Detalle</h2>
<!-- todo: figure out better material styling for alerts -->
<div *ngIf="feedback.message" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
<form *ngIf="estanteria" #editForm="ngForm" (ngSubmit)="save()">

  <mat-form-field>
    <mat-label>Id</mat-label>
    <input matInput [(ngModel)]="estanteria.id" id="id" name="id" placeholder="Id" readonly> 
  </mat-form-field>

  <mat-form-field>
    <mat-label for="almacen">Almacén</mat-label>
    <input matInput [(ngModel)]="estanteria.almacen.cliente" id="almacen" name="almacen" placeholder="Almacén">
  </mat-form-field>

  <mat-form-field>
    <mat-label for="tipo">Tipo</mat-label>
    <mat-select [(ngModel)]="estanteria.tipo" id="tipo" name="tipo" placeholder="Tipo">
      <mat-option *ngFor="let tipo of tiposEstanteria" [value]="tipo">
        {{tipo}}
      </mat-option>
    </mat-select>    
  </mat-form-field>

  <div class="button-row" role="group">
    <button type="submit" mat-raised-button color="primary" [disabled]="!editForm.form.valid">Guardar</button>
    <button type="button" mat-button color="accent" (click)="cancel()">Cancelar</button>
  </div>
</form>
